<launch>

  <!--control_frequency [Hz]-->

  <arg name="control_frequency" default="30" />


  <!--joystick-->

  <include file="$(find joystick_tr)/launch/joystick_tr.launch" />


  <!--control wheel-->

  <include file="$(find wheelcontrol_tr)/launch/wheelcontrol_tr.launch">
  <arg name="frequency" value="$(arg control_frequency)" />
  </include>


  <!--mbed serial-->
  <!--wheel-->

  <node pkg="serial_test" name="mbed_RF" type="serial_test_node" output="screen">
    <!--param name = "port" value = "/dev/ttyACM0"/-->
    <param name = "port" value = "/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_066EFF495649657867251947-if02"/>
    <remap from = "/Serial_sub_float" to = "/control_RF" />
    <remap from = "/Serial_pub_float" to = "/odom_RF" />
    <remap from = "/Serial_sub_int" to = "leg_mbed" />
  </node>

  <node pkg="serial_test" name="mbed_LF" type="serial_test_node" output="screen">
    <param name = "port" value = "/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_0672FF495649657867253138-if02"/>
    <remap from = "/Serial_sub_float" to = "/control_LF" />
    <remap from = "/Serial_pub_float" to = "/odom_LF" />
    <remap from = "/Serial_sub_int" to = "leg_mbed" />
  </node>

  <node pkg="serial_test" name="mbed_LB" type="serial_test_node" output="screen">
    <param name = "port" value = "/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_066EFF495649657867253006-if02"/>
    <remap from = "/Serial_sub_float" to = "/control_LB" />
    <remap from = "/Serial_pub_float" to = "/odom_LB" />
    <remap from = "/Serial_sub_int" to = "leg_mbed" />
  </node>

  <node pkg="serial_test" name="mbed_RB" type="serial_test_node" output="screen">
    <param name = "port" value = "/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_0672FF515055657867244941-if02"/>
    <remap from = "/Serial_sub_float" to = "/control_RB" />
    <remap from = "/Serial_pub_float" to = "/odom_RB" />
    <remap from = "/Serial_sub_int" to = "leg_mbed" />
  </node>


  <!--arm-->
  <node pkg="serial_test" name="mbed_arm" type="serial_test_node" output="screen">
    <param name = "port" value = "/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_066EFF555054877567044940-if02"/>
    <remap from = "/Serial_pub_float" to = "/bno_float" />
    <remap from = "/Serial_sub_int" to = "arm_mbed" />
    <remap from = "/Serial_pub_int" to = "arm_mbed_reply" />
  </node>

</launch>
