<launch>

  <!--control_frequency [Hz]-->

  <arg name="control_frequency" default="30" />


  <!--joystick-->

  <include file="$(find joystick_tr)/launch/joystick_tr.launch" />


  <!--control wheel-->

  <include file="$(find wheelcontrol_tr)/launch/wheelcontrol_tr.launch">
  <arg name="frequency" value="$(arg control_frequency)" />
  </include>


  <!--mbed serial-->
  <!--wheel-->


  <!--arm-->
  <node pkg="serial_test" name="mbed_arm" type="serial_test_node" output="screen">
    <param name = "port" value = "/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_066EFF555054877567044940-if02"/>
    <remap from = "/Serial_pub_float" to = "/bno_float" />
    <remap from = "/Serial_sub_int" to = "arm_mbed" />
    <remap from = "/Serial_pub_int" to = "arm_mbed_reply" />
  </node>

</launch>
