<launch>

  <!--frequency [Hz]-->

  <arg name="frequency" default="30" />

  <!--control wheel node-->

  <node pkg="wheelcontrol_tr" name="wheelcontrol_tr" type="wheelcontrol_tr_node" output="screen">
    <param name = "frequency" value = "$(arg frequency)"/>
    <param name = "accel_xy" value = "2.0"/>
    <param name = "accel_theta" value = "4.0"/>
  </node>

</launch>