<launch>

  <!--frequency [Hz]-->

  <arg name="frequency" default="30" />
  <arg name="zone" default="blue" />


  <!--control wheel node-->

  <node pkg="localization_4wds_tr" name="localization_4wds_tr" type="localization_4wds_tr_node" output="screen">
    <param name = "frequency" value = "$(arg frequency)"/>
    <param name = "zone" value = "$(arg zone)" />
  </node>

</launch>
